<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/7cc983347b.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>Lose and Live.</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <a href="/"><i class="fas fa-dumbbell"></i></a>
        </div>
        <nav>
          <form action="">
            <ul class="nav-menu">
              <input class="login" type="text" placeholder="  Username" />
              <input class="login" type="text" placeholder="  Password" />
              <button class="sign-in-btn">
                <a href="/">Sign Up!</a>
              </button>
            </ul>
          </form>
        </nav>
      </div>
    </header>
    <section id="home">
      <div class="main-page">
        <h1>Lose. Live. Last</h1>
        <p>
          Tired of following strict diets and not getting results you want? Not
          to worry! We use science to determine the right diet for you! Sign
          up... It's free!
        </p>

        <button class="sign-up-btn">
          <a href="/sign-up">Sign Up!</a>
        </button>
      </div>
    </section>
    <section id="footer">
      <div class="footer">
        <p>&copy; Copyright Lose & Live 2020</p>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
