* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.active {
  color: #be4bdb !important;
}
/* Home */
#home {
  margin: auto;
  background: url('./images/home.jpg') center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.main-page {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-page h1 {
  color: rgb(236, 236, 236);
  font-size: 5rem;
}
.main-page p {
  color: rgb(236, 236, 236);
  font-size: 1.5rem;
  font-weight: 100;
}
.sign-up-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 100px;
  background: #be4bdb;
  border: none;
  color: white;
  font-weight: 300;
  cursor: pointer;
}
.sign-up-btn:hover {
  background: rgb(134, 51, 155);
  transition: 0.5s;
}
.burger-menu {
  position: fixed;
  font-size: 40px;
  color: #be4bdb;
  display: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}
header {
  background: rgba(0, 0, 0, 0.918);
}
.nav-menu {
  margin: 0;
  padding: 0.5rem;
}
.logo a {
  position: absolute;
  top: 15px;
  left: 50px;
  font-size: 40px;
  color: #be4bdb !important;
}
.login {
  background: #0c000f93;
  color: #be4bdb;
  border: 1px solid #be4bdb;
  padding: 10px 5px;
  margin: 2px 5px;
}
.sign-in-btn {
  padding: 0.5rem 0.25rem;
  font-weight: 300;
  border: none;
  background: #be4bdb;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.sign-in-btn:hover {
  background: rgb(134, 51, 155);
  transition: 0.5s;
}
.nav-links {
  position: absolute;
  display: flex;
  left: 125px;
  top: 25px;
  list-style-type: none;
}
.nav-links li {
  margin: 0 10px;
}

.link:hover {
  color: #be4bdb !important;
}
.footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}
.footer p {
  margin: auto;
  color: #be4bdb;
  letter-spacing: 1.5px;
}
/* Sign Up Page */
.sign-up-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

#sign-up {
  margin: 0;
  background: url('./images/signup.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.sign-up-form {
  position: relative;
  margin: 0;
  background: rgba(0, 0, 0, 0.521);
  height: 100%;
  width: 600px;
  top: 0;
  right: 0;
  padding: 1rem 3rem 0 3rem;
}
.sign-up-page {
  display: flex;
  flex-direction: column;
}
.sign-up-form h3 {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
input {
  background: #0c000f93;
  color: #be4bdb;
  height: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label {
  color: #fff;
}
input[type='radio'] {
  color: white;
}
select {
  color: #be4bdb;
  background: #0c000f93;
  border-radius: 4px;
  box-sizing: border-box;
}
.sign-up-hero {
  position: absolute;
  top: 30%;
  right: 10%;
  color: #be4bdb;
  text-transform: uppercase;
}
.sign-up-hero h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8rem;
}
.construction {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.918);
  text-align: center;
}
.sorry {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sorry h1 {
  color: #be4bdb;
  text-transform: uppercase;
  font-size: 3.5rem;
}
.sorry p {
  color: #c4c4c4;
  text-transform: uppercase;
  font-size: 3.5rem;
}
#dashboard {
  background: rgb(17, 0, 39);
}
/* USER DASHBOARD */
.dashboard-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  height: 100%;
}
.user-profile {
  background: rgb(93, 35, 107);
  grid-column: 1/2;
  grid-row: 1 / 1;
  height: 100%;
  width: 80%;
  text-align: center;
  color: #fff;
}
.username {
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 2rem;
}
.user-nav li {
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
}
.user-nav li:hover {
  color: rgb(17, 0, 39);
}
.user-link-logout button {
  background: rgb(93, 35, 107);
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
}
.user-link-logout button:hover {
  color: rgb(17, 0, 39);
}
.stat-item-1 {
  grid-column: 2;
  grid-row: 1/1;
  height: 100%;
  text-align: center;
  padding-top: 2rem;
}
.stat-item-description {
  margin: 3rem;
  color: #fff;
}
.description-header {
  color: #be4bdb;
  text-align: center;
  margin: 1rem;
}
.stat-item-2 {
  grid-column: 3;
  grid-row: 1/1;
  height: 100%;
  text-align: center;
  padding-top: 2rem;
}
.stat-item-3 {
  grid-column: 4;
  grid-row: 1/1;
  height: 100%;
  text-align: center;
  padding-top: 2rem;
}
.stat-item-4 {
  grid-column: 5;
  grid-row: 1/1;
  height: 100%;
  text-align: center;
  padding-top: 2rem;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #be4bdb;
  font-size: 10px;
  color: rgb(255, 255, 255);
  line-height: 80px;
  font-size: 1rem;
  text-align: center;
  background: rgb(27, 0, 61);
  margin: auto;
}

/* Media Queries */

@media only screen and (max-width: 850px) {
  .nav-display-small {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.897);
    z-index: 2000;
  }
  .nav-links {
    display: none !important;
  }
  .main-page {
    top: 50%;
  }
  .main-page h1 {
    font-size: 3rem;
  }
  .main-page p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 530px) {
  nav {
    display: none;
    z-index: 2000;
  }
  .logo {
    position: absolute;
    top: -5px;
    left: -30px;
  }
  .navbar {
    padding: 0;
  }
  .burger-menu {
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .small-nav-links {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 32%;
    translate: -50% -50%;
    list-style: none;
  }
  .small-nav-links li {
    margin: 2rem;
    font-size: 1.5rem;
  }
  .exit {
    position: absolute;
    top: 5%;
    right: 5%;
    translate: -50% -50%;
    font-size: 3rem;
    cursor: pointer;
    color: #be4bdb;
  }
}
